<!DOCTYPE html>
<html ng-app="mainPage">
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="mainStyle/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
    </head>
    <body ng-controller="mainCtrl">
        <p>
            Search:
            <input ng-model="name" ng-change="updateName()" />
        </p>

        <ul class="{{filteredPageListStyle}}">
            <li ng-repeat="page in pagesInView | filter:name " class="thumbnail">
                <a href="{{page.route}}">{{page.name}}</a>
            </li>
        </ul>

        <script src="mainApp/app.js"></script>
    </body>
</html>